.background1 {
    background-image: url(../image/background\ \(2\).png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat; 
}

@media (max-width: 500px) {
    .background1 {
        height: 100vh;
        background-position: left;
    }
}